.main {        
    margin-left: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
}

.sidebar-wrapper {
    position: fixed;
    top:0;
    bottom:0;        
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;    
    background-color: $gray-100;
    border-right: 1px $gray-200 solid;
}

@include media-breakpoint-between(md, xl) {
    .main {  
        margin-left:250px;
    }
}